.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.grid-item {
  visibility: visible;
}

.grid-item:hover {
  background-color: lightgray;
  text-decoration: none;
}

.grid-item.hidden {
  visibility: hidden;
}

.navigation-link {
  text-decoration: none;
  color: #333;
}

.navigation-link:hover {
  text-decoration: none;
  color: inherit;
}
